<div class="container-fluid">
  <h3>RAM_AI Test App</h3>
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <textarea name="input-text" id="input_text" cols="30" rows="10" class="form-control" placeholder="enter any text"
                [(ngModel)]="text">
      </textarea>
        <br>
        <button class="btn btn-primary" type="submit">call API</button>
      </form>
      <br>
      <hr>
      <div class="row" *ngIf="places.length!==0">
        <div class="col-6">
          <h5>Extracted Places</h5>
          <ng-container *ngFor="let place of places">
            <button class="btn btn-primary" type="button" (click)="showPlace(place)">{{place}}</button>
          </ng-container>
        </div>
        <div class="col-6">
          <agm-map [latitude]="lat" [longitude]="long">
            <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</div>
