<ng-progress [color]="'blue'"></ng-progress>
<div class="container-fluid">
  <h3>RAM_AI Test App</h3>
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <textarea name="input-text" id="input_text" cols="30" rows="10" class="form-control" placeholder="enter any text"
                [(ngModel)]="text">
      </textarea>
        <br>
        <button class="btn btn-primary" type="submit">call API</button>
      </form>
      <br>
      <hr>
      <div class="row">
        <div class="col-3">
          <h5>Extracted Places</h5>
          <ng-container *ngIf="places.length!==0;else emptyPlaces">
            <ng-container *ngFor="let place of places">
              <button class="btn btn-primary" type="button" (click)="showPlace(place)">
                {{place}}
              </button>
            </ng-container>
          </ng-container>
          <ng-template #emptyPlaces>
            <h6>add some text and call api to see extracted places</h6>
          </ng-template>

        </div>
        <div class="col-3">
          <h5>Extracted wikipedia links</h5>
          <ng-container *ngIf="links.length!==0;else noLinks">
            <ng-container *ngFor="let link of links">
              <a [href]="link.link">{{link.name}}</a><br>
            </ng-container>
          </ng-container>
          <ng-template #noLinks>
            <h6>add some text and call api</h6>
          </ng-template>

        </div>
        <div class="col-6">
          <agm-map *ngIf="showMap;else noPlaces" [latitude]="lat" [longitude]="long">
            <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
          </agm-map>
          <ng-template #noPlaces>
            <div class="empty">
              <h6>click on a place to see the location on map</h6>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
